<a href="https://colab.research.google.com/github/Simeen01/Pandas/blob/main/Pandas_loc%2Ciloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

iloc/loc - access group of rows and col by label or boolean array



1.   loc = label wise fetching data
2.   iloc = index wise

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = "/content/drive/MyDrive/Datasets/MovieratingdataLOC-ILOC.csv"

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(path)
df

         DATE  USER_ID MONTHS  MOVIE_ID  PRODUCTION_YEAR  RATING
0   25-1-2021        1    JAN   4642044             2015      10
1   25-2-2021        2    FEB   4642044             2020       6
2   25-3-2021        3    MAR   1245897             2014       8
3   25-4-2021        4  APRIL   1390411             2015       6
4   25-5-2021        5    MAY   6306064             2022       4
5   25-6-2021        6    JUN   6306064             2020       4
6   25-7-2021        7   JULY   2719848             2015       4
7   25-8-2021        8    AUG    462504             2006       9
8   25-9-2021        9   SEPT     25468             2015       6
9  25-10-2021       10    OCT   2564789             2015       9

In [ ]:
df.loc[0] #all details of row 1

DATE               25-1-2021
USER_ID                    1
MONTHS                   JAN
MOVIE_ID             4642044
PRODUCTION_YEAR         2015
RATING                    10
Name: 0, dtype: object

In [ ]:
df.loc[[0]] #fancy indexing

        DATE  USER_ID MONTHS  MOVIE_ID  PRODUCTION_YEAR  RATING
0  25-1-2021        1    JAN   4642044             2015      10

In [ ]:
df.loc[1]

DATE               25-2-2021
USER_ID                    2
MONTHS                   FEB
MOVIE_ID             4642044
PRODUCTION_YEAR         2020
RATING                     6
Name: 1, dtype: object

In [ ]:
df.shape

(10, 6)

In [ ]:
pd.DataFrame(path,index=['a','b','c','d','e','f','g','h','i','j'])
# df.reset_index([11,12,13,14,15,16,17,18,19,20])

ValueError: ignored

In [ ]:
df.loc[df["RATING"]>8] #rows having rating greater than 8

         DATE  USER_ID MONTHS  MOVIE_ID  PRODUCTION_YEAR  RATING
0   25-1-2021        1    JAN   4642044             2015      10
7   25-8-2021        8    AUG    462504             2006       9
9  25-10-2021       10    OCT   2564789             2015       9

In [ ]:
df.loc[df["RATING"]>8, "PRODUCTION_YEAR"] #production year of rows having rating greater than 8

0    2015
7    2006
9    2015
Name: PRODUCTION_YEAR, dtype: int64

In [ ]:
df.loc[[2,4]]

        DATE  USER_ID MONTHS  MOVIE_ID  PRODUCTION_YEAR  RATING
2  25-3-2021        3    MAR   1245897             2014       8
4  25-5-2021        5    MAY   6306064             2022       4

In [ ]:
df.loc[1::3]

        DATE  USER_ID MONTHS  MOVIE_ID  PRODUCTION_YEAR  RATING
1  25-2-2021        2    FEB   4642044             2020       6
4  25-5-2021        5    MAY   6306064             2022       4
7  25-8-2021        8    AUG    462504             2006       9

In [ ]:
df.loc[[-2]] #doesn't take negative indexing

KeyError: ignored

In [ ]:
df.loc[3,"MONTHS"]

'APRIL'

In [ ]:
df.loc[3:9,"MONTHS"]

3    APRIL
4      MAY
5      JUN
6     JULY
7      AUG
8     SEPT
9      OCT
Name: MONTHS, dtype: object

iloc

In [ ]:
df

         DATE  USER_ID MONTHS  MOVIE_ID  PRODUCTION_YEAR  RATING
0   25-1-2021        1    JAN   4642044             2015      10
1   25-2-2021        2    FEB   4642044             2020       6
2   25-3-2021        3    MAR   1245897             2014       8
3   25-4-2021        4  APRIL   1390411             2015       6
4   25-5-2021        5    MAY   6306064             2022       4
5   25-6-2021        6    JUN   6306064             2020       4
6   25-7-2021        7   JULY   2719848             2015       4
7   25-8-2021        8    AUG    462504             2006       9
8   25-9-2021        9   SEPT     25468             2015       6
9  25-10-2021       10    OCT   2564789             2015       9

In [ ]:
df.iloc[[0]]

        DATE  USER_ID MONTHS  MOVIE_ID  PRODUCTION_YEAR  RATING
0  25-1-2021        1    JAN   4642044             2015      10

In [ ]:
df.loc[[0]]

        DATE  USER_ID MONTHS  MOVIE_ID  PRODUCTION_YEAR  RATING
0  25-1-2021        1    JAN   4642044             2015      10

In [ ]:
df.iloc[:,2:4]

  MONTHS  MOVIE_ID
0    JAN   4642044
1    FEB   4642044
2    MAR   1245897
3  APRIL   1390411
4    MAY   6306064
5    JUN   6306064
6   JULY   2719848
7    AUG    462504
8   SEPT     25468
9    OCT   2564789

In [ ]:
df.loc[:,2:4]

TypeError: ignored

In [ ]:
df.iloc[df["RATING"]>8]

NotImplementedError: ignored

In [ ]:
df.iloc[:,::-1]

   RATING  PRODUCTION_YEAR  MOVIE_ID MONTHS  USER_ID        DATE
0      10             2015   4642044    JAN        1   25-1-2021
1       6             2020   4642044    FEB        2   25-2-2021
2       8             2014   1245897    MAR        3   25-3-2021
3       6             2015   1390411  APRIL        4   25-4-2021
4       4             2022   6306064    MAY        5   25-5-2021
5       4             2020   6306064    JUN        6   25-6-2021
6       4             2015   2719848   JULY        7   25-7-2021
7       9             2006    462504    AUG        8   25-8-2021
8       6             2015     25468   SEPT        9   25-9-2021
9       9             2015   2564789    OCT       10  25-10-2021

In [ ]:
df.iloc[-1]

DATE               25-10-2021
USER_ID                    10
MONTHS                    OCT
MOVIE_ID              2564789
PRODUCTION_YEAR          2015
RATING                      9
Name: 9, dtype: object

In [ ]:
df = pd.read_csv(path,index_col="USER_ID")

In [ ]:
df

               DATE MONTHS  MOVIE_ID  PRODUCTION_YEAR  RATING
USER_ID
1         25-1-2021    JAN   4642044             2015      10
2         25-2-2021    FEB   4642044             2020       6
3         25-3-2021    MAR   1245897             2014       8
4         25-4-2021  APRIL   1390411             2015       6
5         25-5-2021    MAY   6306064             2022       4
6         25-6-2021    JUN   6306064             2020       4
7         25-7-2021   JULY   2719848             2015       4
8         25-8-2021    AUG    462504             2006       9
9         25-9-2021   SEPT     25468             2015       6
10       25-10-2021    OCT   2564789             2015       9

In [ ]:
df.iloc[1:7]

              DATE MONTHS  MOVIE_ID  PRODUCTION_YEAR  RATING
USER_ID
2        25-2-2021    FEB   4642044             2020       6
3        25-3-2021    MAR   1245897             2014       8
4        25-4-2021  APRIL   1390411             2015       6
5        25-5-2021    MAY   6306064             2022       4
6        25-6-2021    JUN   6306064             2020       4
7        25-7-2021   JULY   2719848             2015       4

In [ ]:
df.iloc[3:6:2,1:5:2]

        MONTHS  PRODUCTION_YEAR
USER_ID
4        APRIL             2015
6          JUN             2020

In [ ]:
df.iloc[2:6:2,2:5]

         MOVIE_ID  PRODUCTION_YEAR  RATING
USER_ID
3         1245897             2014       8
5         6306064             2022       4