<a href="https://colab.research.google.com/github/Simeen01/Pandas/blob/main/Pandas_Handling_missing_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
path = "/content/drive/MyDrive/Datasets/Movieratingdata1.csv"

In [ ]:
df = pd.read_csv(path)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,not value,NaN,2014,NaN,NaN
3,4.0,1390411,NaN,2015,NaN,5
4,5.0,6306064,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
df.head()

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,not value,NaN,2014,NaN,NaN
3,4.0,1390411,NaN,2015,NaN,5
4,5.0,6306064,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4

In [ ]:
df.tail()

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
df.shape

(12, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   USER_ID          11 non-null     float64
 1   MOVIE_ID         10 non-null     object
 2   MOVIE_TITLE      3 non-null      object
 3   PRODUCTION_YEAR  11 non-null     object
 4   GENRES           9 non-null      object
 5   RATING           9 non-null      object
dtypes: float64(1), object(5)
memory usage: 704.0+ bytes

In [ ]:
df.describe()

         USER_ID
count  11.000000
mean    6.909091
std     3.477198
min     1.000000
25%     4.500000
50%     7.000000
75%     9.500000
max    12.000000

In [ ]:
df = pd.read_csv(path,na_values=["not available","not mension","not value"])

In [ ]:
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044.0,Riot,2015.0,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,2014.0,NaN,NaN
3,4.0,1390411.0,NaN,2015.0,NaN,5.0
4,5.0,6306064.0,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,4.0
5,6.0,6306064.0,NaN,NaN,Action|Adventure|Biography|Drama|Romance|Thriller,5.0
6,7.0,2719848.0,NaN,2015.0,Action|Adventure|Biography|Drama|Thriller,NaN
7,8.0,462504.0,NaN,2006.0,Action|Adventure|Biography|Drama|War,NaN
8,9.0,NaN,NaN,2020.0,Action|Adventure|Biography|Drama|Western,10.0
9,10.0,163225.0,The Revenant,2015.0,Action|Adventure|Biography|Drama|Western,9.0
10,11.0,1663202.0,NaN,2015.0,Action|Adventure|Biography|Drama|Western,9.0
11,12.0,1663202.0,The Revenant,2021.0,Action|Adventure|Biography|Drama|Western,6.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   USER_ID          11 non-null     float64
 1   MOVIE_ID         9 non-null      float64
 2   MOVIE_TITLE      3 non-null      object
 3   PRODUCTION_YEAR  9 non-null      float64
 4   GENRES           9 non-null      object
 5   RATING           7 non-null      float64
dtypes: float64(4), object(2)
memory usage: 704.0+ bytes

In [ ]:
#keep_default_na = False - shows default dataset
df = pd.read_csv(path,keep_default_na=False)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,not value,NaN,2014,NaN,NaN
3,4.0,1390411,NaN,2015,NaN,5
4,5.0,6306064,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
df = pd.read_csv(path,na_values={"MOVIE_ID":"not value"})
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044.0,Riot,2015,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,2014,NaN,NaN
3,4.0,1390411.0,NaN,2015,NaN,5
4,5.0,6306064.0,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064.0,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848.0,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504.0,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225.0,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202.0,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202.0,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
df = pd.read_csv(path,na_values={1:"not value"})
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044.0,Riot,2015,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,NaN,NaN,2014,NaN,NaN
3,4.0,1390411.0,NaN,2015,NaN,5
4,5.0,6306064.0,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064.0,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848.0,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504.0,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225.0,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202.0,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202.0,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
df.isnull()

    USER_ID  MOVIE_ID  MOVIE_TITLE  PRODUCTION_YEAR  GENRES  RATING
0     False     False        False            False   False    True
1      True      True         True             True    True    True
2     False      True         True            False    True    True
3     False     False         True            False    True   False
4     False     False         True            False   False   False
5     False     False         True            False   False   False
6     False     False         True            False   False   False
7     False     False         True            False   False   False
8     False      True         True            False   False   False
9     False     False        False            False   False   False
10    False     False         True            False   False   False
11    False     False        False            False   False   False

In [ ]:
df.isnull().sum() #each col's sum

USER_ID            1
MOVIE_ID           3
MOVIE_TITLE        9
PRODUCTION_YEAR    1
GENRES             3
RATING             3
dtype: int64

In [ ]:
df.isnull().sum().sum() #total null value in dataset

20

In [ ]:
df.notnull()

    USER_ID  MOVIE_ID  MOVIE_TITLE  PRODUCTION_YEAR  GENRES  RATING
0      True      True         True             True    True   False
1     False     False        False            False   False   False
2      True     False        False             True   False   False
3      True      True        False             True   False    True
4      True      True        False             True    True    True
5      True      True        False             True    True    True
6      True      True        False             True    True    True
7      True      True        False             True    True    True
8      True     False        False             True    True    True
9      True      True         True             True    True    True
10     True      True        False             True    True    True
11     True      True         True             True    True    True

In [ ]:
df.notnull().sum()

USER_ID            11
MOVIE_ID            9
MOVIE_TITLE         3
PRODUCTION_YEAR    11
GENRES              9
RATING              9
dtype: int64

In [ ]:
df.notnull().sum().sum()

52

In [ ]:
#dropna()
df = pd.read_csv(path)
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,not value,NaN,2014,NaN,NaN
3,4.0,1390411,NaN,2015,NaN,5
4,5.0,6306064,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
df.dropna() #drops rows with null values

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
#axis = 0 - drop row
#axis = 1 - drop col
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
df.dropna(how = "any")

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
df.dropna(how = "all") #all values in row are null, then it drops that row

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
2,3.0,not value,NaN,2014,NaN,NaN
3,4.0,1390411,NaN,2015,NaN,5
4,5.0,6306064,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
#thresh - drops min NaN
df.dropna(thresh=1)

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
2,3.0,not value,NaN,2014,NaN,NaN
3,4.0,1390411,NaN,2015,NaN,5
4,5.0,6306064,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
8,9.0,NaN,NaN,2020,Action|Adventure|Biography|Drama|Western,10
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
df.dropna(axis=0,thresh=5)

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
0,1.0,4642044,Riot,2015,Action,NaN
4,5.0,6306064,NaN,not available,Action|Adventure|Biography|Drama|Romance|Thriller,4
5,6.0,6306064,NaN,not mension,Action|Adventure|Biography|Drama|Romance|Thriller,5
6,7.0,2719848,NaN,2015,Action|Adventure|Biography|Drama|Thriller,not available
7,8.0,462504,NaN,2006,Action|Adventure|Biography|Drama|War,not mension
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
10,11.0,1663202,NaN,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
df.dropna(subset=["MOVIE_TITLE","RATING"])

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
#inplace - drops all NaN rows
df.dropna(inplace=True) #changes original df
df

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6

In [ ]:
df.dropna(inplace=False)

,USER_ID,MOVIE_ID,MOVIE_TITLE,PRODUCTION_YEAR,GENRES,RATING
9,10.0,163225,The Revenant,2015,Action|Adventure|Biography|Drama|Western,9
11,12.0,1663202,The Revenant,2021,Action|Adventure|Biography|Drama|Western,6